<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="col text-right" style="margin-bottom:15px">
    <button type="button" class="btn btn-info" (click)="openNewProgramSpec(contentNewProgramSpec)">
      Programma Attività Sportiva
    </button>
  </div>

  <br /><br /><br />
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          *ngFor="let activity of activities" class="btn btn-outline-primary"
        >
          {{activity.name}}
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <br /><br /><br />

  <h3>
    Edit events
    <button class="btn btn-primary float-right" (click)="addEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.primary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.secondary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #contentNewProgramSpec let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Programma Attività Sportiva</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #progForm="ngForm" (ngSubmit)="addEventProgram()">
      <div class="form-group" >
        <label for="descr2">Inserisci range di date:</label>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input
                class="form-control"
                type="date" #myDate [value]="this.dataInizioP | date:'yyyy-MM-dd'" (input)="this.dataInizioP=parseDate($event.target.value)"
                mwlFlatpickr
                placeholder="Data Inizio"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input
                class="form-control"
                type="date" #myDate [value]="this.dataFineP | date:'yyyy-MM-dd'" (input)="this.dataFineP=parseDate($event.target.value)"
                mwlFlatpickr
                placeholder="Data Fine"
              />
            </div>
          </div>
        </div>
        <hr class="my-3">
        <label for="descr2">Inserisci ora inizio e ora fine dell'attività:</label>
        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                #myHours [value]="this.oraInizioP " (input)="this.oraInizioP=parseTime($event.target.value)"
                [time24hr]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                [noCalendar]="true"
                [altInput]="true"
                id = "oraInizio"
                dateFormat="H:i"
                altFormat="H:i"
                placeholder="Ora Inizio"
              />           </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input
                id = "oraFine"
                class="form-control"
                type="text"
                #myHours [value]="this.oraFineP " (input)="this.oraFineP=parseTime($event.target.value)"
                mwlFlatpickr
                [time24hr]="true"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                [noCalendar]="true"
                dateFormat="H:i"
                altFormat="H:i"
                placeholder="Ora Fine"
              />
            </div>
          </div>
        </div>
        <hr class="my-3">
        <label>Seleziona i giorni a settimana in cui si svolgerà l'attività:</label>
        <div class="row">
          <center>
          <div class="weekDays-selector">
          <input type="checkbox" id="weekday-mon" class="weekday" />
          <label for="weekday-mon">Lunedì</label>
          <input type="checkbox" id="weekday-tue" class="weekday" />
          <label for="weekday-tue">Martedì</label>
          <input type="checkbox" id="weekday-wed" class="weekday" />
          <label for="weekday-wed">Mercoledì</label>
          <input type="checkbox" id="weekday-thu" class="weekday" />
          <label for="weekday-thu">Giovedì</label>
          <input type="checkbox" id="weekday-fri" class="weekday" />
          <label for="weekday-fri">Venerdì</label>
          <input type="checkbox" id="weekday-sat" class="weekday" />
          <label for="weekday-sat">Sabato</label>
        </div>
          </center>
        </div>
        <hr class="my-3">
        <label>Attività</label>
        <center>
        <select (change)="selectOption($event.target.value)">
          <option value="" disabled selected>Seleziona una attività</option>
            <option [value]="activity.id" *ngFor="let activity of activities">{{activity.name}}</option>
        </select>
        </center>
        <hr class="my-3">
        <label for="npartec">Numero massimo partecipanti</label>
        <input type="number" [(ngModel)]="this.numPrenot"
               class="form-control"
               id="npartec"
               name="npartec"
               placeholder="Inserisci il numero massimo di partecipanti">
        <hr class="my-3">

        <label for="descr2">Descrizione</label>
        <input type="text" [(ngModel)]="this.descr"
               class="form-control"
               id="descr2"
               name="descr2"
               placeholder="Inserisci la descrizione">
        <p></p>
        <button type="submit" [disabled]="!progForm.form.valid"
                class="btn btn-info">Salva</button>


      </div>
    </form>
  </div>
</ng-template>






<ng-template #modalContent  let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title3">Modifica Attività Sportiva</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #progForm="ngForm" (ngSubmit)="modifyEvent($event.event)">
      <div class="form-group" >
        <label for="descr2">Modifica la data:</label>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input
                class="form-control"
                type="date" #myDate [value]="this.dataInizioP | date:'yyyy-MM-dd'" (input)="this.dataInizioP=parseDate($event.target.value)"
                mwlFlatpickr
                placeholder="Data Inizio"
              />
            </div>
          </div>

        </div>
        <hr class="my-3">
        <label for="descr2">Modifica ora inizio e ora fine dell'attività:</label>
        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                #myHours [value]="this.oraInizioP " (input)="this.oraInizioP=parseTime($event.target.value)"
                [time24hr]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                [noCalendar]="true"
                [altInput]="true"
                id = "oraInizio"
                dateFormat="H:i"
                altFormat="H:i"
                placeholder="Ora Inizio"
              />           </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input
                id = "oraFine"
                class="form-control"
                type="text"
                #myHours [value]="this.oraFineP " (input)="this.oraFineP=parseTime($event.target.value)"
                mwlFlatpickr
                [time24hr]="true"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                [noCalendar]="true"
                dateFormat="H:i"
                altFormat="H:i"
                placeholder="Ora Fine"
              />
            </div>
          </div>
        </div>
        <hr class="my-3">
        <label>Attività</label>
        <center>
          <select (change)="selectOption($event.target.value)">
            <option value="" disabled selected>{{this.title}}</option>
            <option [value]="activity.name" *ngFor="let activity of activities">{{activity.name}}</option>
          </select>
        </center>
        <hr class="my-3">
        <label for="npartec">Numero massimo partecipanti</label>
        <input type="number" [(ngModel)]="this.numPrenot"
               class="form-control"
               id="npartec"
               name="npartec"
               placeholder="Inserisci il numero massimo di partecipanti">
        <hr class="my-3">

        <label for="descr2">Descrizione</label>
        <input type="text" [(ngModel)]="this.descr"
               class="form-control"
               id="descr2"
               name="descr2"
               placeholder="Inserisci la descrizione">
        <p></p>
        <button type="submit" [disabled]="!progForm.form.valid"
                class="btn btn-info">Salva</button>


      </div>
    </form>
  </div>
</ng-template>


