<div class="main-content">
  <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
    <div class="container px-1">
        <img style="display:block;margin-left:-60px" width="300" height="100" src="../../../assets/img/brand/sporting.png" />
      <button class="navbar-toggler" type="button" (cick)="isCollapsed=!isCollapsed"
         aria-controls="sidenav-collapse-main">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
                <img src="../../../assets/img/brand/sporting.png">
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed" >
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Navbar items -->
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/register']">
              <i class="ni ni-circle-08"></i>
              <span class="nav-link-inner--text">Registrati</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/login']">
              <i class="ni ni-key-25"></i>
              <span class="nav-link-inner--text">Login</span>
            </a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/user-profile']">
              <i class="ni ni-circle-08"></i>
              <span class="nav-link-inner--text">{{ username }}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/login']">
              <i class="ni ni-key-25"></i>
              <span class="nav-link-inner--text" (click)="logout()">Logout</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h14 class="text-red">CHI SIAMO</h14>
        <p></p>
        <p class="text-light">Il luogo ideale per tutti gli amanti dello sport, un centro in grado di offrire
          diverse tipologie di attività fisiche, dal nuoto al Karate, dall'acquagym al pilates. Il centro sportivo
          di Andria vanta un centro estetico dove ad aspettare le clienti ci sarà un personale professionale che
          saprà esaltare la bellezza di tutti i clienti. Cerette, massaggi rilassanti o drenanti, pedicure,
          questi e molti altri i servizi offerti.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
        <h14 class="text-red">RICHIEDI INFORMAZIONI</h14>
        <p>  </p>
        <p class="text-light" >Per conoscere tutti i corsi, gli orari, e i servizi offerti dal centro sportivo
          di Andria non esitare a contattarci. Un personale qualificato e cordiale sarà pronto a rispondere ad ogni richiesta.
          Per usufruire del servizio di baby sitting dedicato a tutte le mamme è necessaria la prenotazione,
          questa deve essere effettuata almeno 24 ore prima.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">


      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-5 col-xl-3 mx-auto mt-3">
        <h14 class="text-red">CONTATTI </h14>
        <p></p>
        <p class="text-light">
          <i class="fas fa-home mr-1"></i> Andria, BAT, 76123</p>
        <p class="text-light">
          <i class="fas fa-envelope mr-1"></i> info@sportingcenterandria.com</p>
          <a href="info@sportingcenterandria.com" target="_blank" ></a>
        <p class="text-light">
          <i class="fas fa-phone mr-1"></i> 0883559777</p>
        <p class="text-light">
          <i class="ni ni-send"></i> 06618600727</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="https://sportingcenterandria.it/" target="_blank">
            <strong> SportingCenterAndria.it </strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0 icon-large">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-2">
                <a href="https://sportingcenterandria.it/" target="_blank" ></a>
                <i class="ni ni-planet ni ni-planet ni-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-2">
                <i class="fab fa-facebook-square fab fa-camera fa-2x"></i>
                <a href="https://www.facebook.com/sportingcenter/" target="_blank" ></a>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
