<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Benvenuto!</h1>
          <p class="text-lead text-light">Il centro sportivo nel cuore della tua città.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small> Inserisci le tue credenziali per registrati</small>
          </div>
          <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="displayName">Nome*</label> <input type="text" class="form-control" name="displayName" [(ngModel)]="form.displayName" required minlength="3"
                                                                   maxlength="20" #displayName="ngModel" />
              <div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
                <div *ngIf="displayName.errors.required">Il Nome è obbligatorio</div>
                <div *ngIf="displayName.errors.minlength">Il nome inserito deve contenere almeno 3 caratteri</div>
                <div *ngIf="displayName.errors.maxlength">Il nome inserito deve contenere al massimo 20 caratteri</div>
              </div>
            </div>
            <div [hidden]="!displayName.pristine" class="alert alert-danger">Il nome è obbligatorio</div>
            <div class="form-group">
              <label for="email">Email*</label> <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
              <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                <div *ngIf="email.errors.required">L'E-mail è obbligatoria</div>
                <div *ngIf="email.errors.email">L'indirizzo E-mail deve essere valido</div>
              </div>
            </div>
            <div [hidden]="!email.pristine" class="alert alert-danger">L'Email è obbligatoria</div>
            <div class="form-group">
              <label for="number">Numero di telefono</label> <input type="text" class="form-control" name="number" [(ngModel)]="form.number" />
            </div>
            <div class="form-group">
              <label for="dp">Data di Nascita*</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input
                  class="form-control"
                  type="date" #myDate [value]="this.data | date:'dd-MM-yyyy'" (input)="this.form.dataNascita=$event.target.value"
                  mwlFlatpickr
                  placeholder="Seleziona una data di nascita"
                />              </div>
            </div>
            <div [hidden]="!dp.pristine" class="alert alert-danger">La data di nascita è obbligatoria</div>
            <div class="form-group">
              <label for="password">Password*</label> <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
                                                            #password="ngModel" />
              <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">La Password è obbligatoria</div>
                <div *ngIf="password.errors.minlength">La Password deve essere di almeno 6 caratteri</div>
              </div>
            </div>
            <div class="form-group">
              <label for="matchingPassword">Conferma Password*</label> <input type="password" class="form-control" name="matchingPassword" [(ngModel)]="form.matchingPassword"
                                                                            required minlength="6" #matchingPassword="ngModel" />
              <div class="alert-danger" *ngIf="f.submitted && matchingPassword.invalid">
                <div *ngIf="matchingPassword.errors.required">La Password è obbligatoria</div>
                <div *ngIf="matchingPassword.errors.minlength">La Password deve essere di almeno 6 caratteri</div>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block">Iscriviti</button>
            </div>
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              Registrazione fallita!<br />{{ errorMessage }}
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isSuccessful">La tua registrazione è andata a buon fine!</div>
        </div>
      </div>
    </div>
  </div>
</div>
