<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../../../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col">
        <h1 class="display-2 text-white">Ciao {{ currentUser.displayName}}</h1>
        <p class="text-white mt-0 mb-5">Vedi qui il riepilogo delle tue informazioni</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Account Personale</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informazioni personali</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nome Completo</label>
                    <input type="text" [(ngModel)]
                      ="currentUser.displayName"
                           class="form-control"
                           id="input-username"
                           name="input-username"
                           placeholder="Inserisci il tuo Nome e Cognome"
                           required #name="ngModel">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="text" [(ngModel)]="currentUser.email"
                           class="form-control"
                           id="input-email"
                           name="input-email"
                           placeholder="Enter your email address"
                           required #email="ngModel">                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="password">Password</label>
                    <input type="password" id="password" class="form-control" name="password" [(ngModel)]="this.currentUser.password" required minlength="6"  #password="ngModel"/>
                  </div>
                  <div class="alert-danger" *ngIf="password.invalid">
                    <div *ngIf="password.errors.minlength">La Password deve essere di almeno 6 caratteri</div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="mpassword">Matching Password</label>
                    <input type="password" id="mpassword" class="form-control" name="mpassword" [(ngModel)]="this.matchinPassword" required minlength="6"  #mpassword="ngModel"/>
                  </div>
                  <div class="alert-danger" *ngIf="!this.matchinPassword==this.currentUser.password">
                    <div *ngIf="password.errors.minlength">Le password inserite non corrispondono!</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="!currentUser.abbonam==null"class="col-lg-6">
                  <div class="form-group">
                    <label> Data di Nascita</label>
                    <input
                      class="form-control"
                      type="date" #myDate [value]="this.currentUser.dataNascita | date:'dd-MM-yyyy'" (input)="this.currentUser.dataNascita=parseDate($event.target.value)"
                      mwlFlatpickr
                      placeholder="Seleziona una data di nascita"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="row">
                      <label class="form-control-label">Ruolo</label></div>
                    <div class="row"><span *ngFor="let role of currentUser.roles" class="badge badge-success">{{ role }}</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col text-right">
              <button type="button" class="btn btn-info" (click)="onSubmitModify()">
                Aggiorna Dati
              </button>
            </div>
            <hr *ngIf="!currentUser.abbonam==null"  class="my-4" />

            <h6  *ngIf="!currentUser.abbonam==null" class="heading-small text-muted mb-4">Abbonamento Associato</h6>
            <div *ngIf="!currentUser.abbonam==null" class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="currentUser; else loggedOut">
    <div>
      <h6 class="text-muted py-5">
        <strong>{{ currentUser.displayName }}</strong> Profile
      </h6>
    </div>
    <p>
      <strong>Email:</strong> {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">{{ role }}</li>
    </ul>
  </div>
  <ng-template #loggedOut> Please login. </ng-template>
</div>
